<% markdown = Redcarpet::Markdown.new(Redcarpet::Render::HTML, fenced_code_blocks: true) %>

<% @posts.each do |post| %>
  <%= post.title %>
  <%= post.subtitle %>
  <%= post.cover_art %>
  <% if post.type == "BlogPost" %>
    <%= post.preview %>
    <%#= post.body %>
    <%= raw markdown.render(post.body) %>
  <% elsif post.type == "Illustration" %>
    <%= post.image %>
  <% end %>
  <%= button_to "Show", post, :method => :get %>
  <%= button_to "Edit", edit_post_path(post), :method => :get %>
  <%= button_to "Delete", post, :method => :delete, data: {confirm: "Are you sure?" } %><br>
<% end %>

<a href="posts/new?post_type=BlogPost">New Blog Post</a>
<a href="posts/new?post_type=Illustration">New Illustration</a>